/* Material Design Animations for all elements */
* {
	transition-delay: 0.1s;
	transition-property: all;
	transition-duration: 0.2s;	
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	height: 100%;
	overflow: hidden;
	text-align: center;
}

body {
	height: 100%;
	overflow: auto;
}

i.glyphicon { 
	padding: 0px 8px;
}

nav.navbar {
	z-index: 9;
	width: 100%;
	position: fixed;
	border: none !important;
	background-color: #DE4343;
	border-radius: 0px !important;
	padding: 0px 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

a.navbar-brand {
	padding: 8px 0px 8px 8px;
}

.navbar-brand > img { 
	height: 100%;       
	max-height: 100%;
}

a.navbar-link {
	color: #F9F9F9 !important;
}

body > div.container-fluid {
	height: 100%;	
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #F9F9F9;
	padding: 58px 8px 8px 8px;
}

a.thumb-link {
	color: #333 !important;
}

a.thumb-link:hover, a.thumb-link:after, a.thumb-link:focus {
	font-style: none !important;
	text-decoration: none !important;
	color: rgba(25, 25, 25, 0.5) !important;
}

div.thumbnail {		
	display: block !important;
	margin: -1px auto !important;
	border-radius: 0px !important;	
}

img#dog-photo {
	width: 100%;
}

a {
	color: #DE4343;	
	text-decoration: none;
}

a:hover, a:focus {
	opacity: 0.5;
	color: #DE4343;
	text-decoration: none;
}

p.navbar-left { 
	text-align: center;
}

button.btn {
	color: #F9F9F9;
	border: 0px;
	background: transparent !important;
}

button.btn:hover {
	color: #F9F9F9;
	opacity: 0.75;
}

input[type="text"], input[type="text"]:focus {
	color: #F9F9F9;
	border: 0px;
	box-shadow: none !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #F9F9F9;
	background: transparent;
}

::-webkit-input-placeholder {
   color: #FAFAFA !important;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FAFAFA !important;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FAFAFA !important;
   font-style: italic;
}

:-ms-input-placeholder {  
   color: #FAFAFA !important;
   font-style: italic;
}